body, div, p, a, form, table, tr, td, img h1, h2, h3, h4, h5, h6
{ margin: 0px; padding: 0px; border: 0; font-family: "monospace";}

.block{ display: block; }
.inline {display: inline-block; }
.widget{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    width: 96px;
    height: 96px;
    margin: 1px;
}

.viewport{
    width:100%;
    height:100%;
}